form#enter-room(action='.', method='post')
  label(for='name') What's your name?
  input#name(type='text', placeholder='John, Joe, Susan, Sally...')
  button(type='submit') Enter

#chat-room(style='display:none')
  ul#messages

  form#send-message(action='.', method='post')
    input#text-input(type='text', placeholder='Enter your message here')
    button(type='submit') Send message

script(src='/nowjs/now.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/javascripts/chat.js')
