extends layout

block title
  | Welcome to the chat room app

block content
  h2 Rooms
  ul
    for room in rooms
      li
        a(href='/rooms/' + room._id + '/')= room.name || room._id
  h2 Create your own
  form(action='/rooms/create/', method='post')
    input(type='text', name='name', placeholder='Name of the room...')
    button(type='submit') Create
