extends layout

block content
  if user == false
    p Invalid email or password
  else
    = user
  form(action='.', method='post')
    input(type='hidden', name='_csrf', value=csrf)
    #login
      label(for='email') Email
      input#email(type='email', name='email', required)
    #password
      label(for='password') Password
      input#password(type='password', name='password', required)
    #submit
      button(type='submit') Login
