extends layout

block title
  | Welcome to the chat room app

block content
  h2 Rooms
  ul
    for room in rooms
      li
        a(href=reverse('rooms:detail', { roomId: room._id }))= room.name || room._id
  h2 Create your own
  form(action=reverse('rooms:create'), method='post')
    input(type='hidden', name='_csrf', value=csrf)
    input(type='text', name='name', placeholder='Name of the room...')
    button(type='submit') Create
