extends layout

block title
  | Welcome to the chat room

block content
  #chat-room(data-room-id=room._id)
    ul#messages
      for message in room.messages
        li(class='message message-' + message.type + ('' +
        message.userId == '' + user._id ? ' message-mine' : ' message-others'), data-user-id=message.userId)
          span.message-timestamp= message.timestamp
          span.message-name
            = message.nickname
          span.message-content
            if message.type == 'left'
              | left the room
            else if message.type == 'joined'
              | joined the room
            else
              | !{marked(message.content)}

    form#send-message(action='.', method='post')
      input#text-input(type='text', placeholder='Enter your message here')
      button(type='submit') Send message

append js
  script(type='text/x-dot-template', id='message-template')
    span.message-timestamp {{=it.timestamp}}
    span.message-name {{=it.nickname}}
    span.message-content {{=it.content}}

  script(src='/socket.io/socket.io.js')
  script(src='/js/vendor/doT.js')
  script(src='/js/vendor/underscore.js')
  script(src='/js/vendor/backbone.js')
  script(src='/js/index.js')
  script(src='/js/modules/chat.js')
